<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="results-table">
        <table class="centeredTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Employer</th>
                <th>Location</th>
                <th>Position Type</th>
                <th>Core Competency</th>
            </tr>
            </thead>
            <th:block th:each="job : ${jobs}">
                <tr>
                    <td th:text="${job.id}"></td>
                    <td th:text="${job.name}"></td>
                    <td th:text="${job.employer}"></td>
                    <td th:text="${job.location}"></td>
                    <td th:text="${job.positionType}"></td>
                    <td th:text="${job.coreCompetency}"></td>
                </tr>
            </th:block>

        </table>
    </div>

    <div th:fragment="results-table-single-col">
        <table class="centeredTable">

            <th:block th:each="job : ${jobs}">
                <tr>
                    <td>
                    <span class="boldFields" >ID: </span>
                        <span th:text=" ${job.id}"></span>
                        <br>
                    <span class="boldFields" >Name: </span>
                        <span th:text="${job.name}"></span>
                        <br>
                    <span class="boldFields" >Employer: </span>
                        <span th:text="${job.employer}"></span>
                        <br>
                    <span class="boldFields" >Location: </span>
                        <span th:text="${job.location}"></span>
                        <br>
                    <span class="boldFields" >Position Type: </span>
                        <span th:text="${job.positionType}"></span>
                        <br>
                    <span class="boldFields" >Skill: </span>
                        <span th:text="${job.coreCompetency}"></span>
                    </td>
                </tr>
            </th:block>

        </table>
    </div>

</body>
</html>